<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<body>
<script src="./vendor/aframe.min.js"></script>
<script src="./vendor/vue.js"></script>

<script src="./socket.io/socket.io.js"></script>
<script src="./components/cursor-position.component.js"></script>
<script src="./components/manipulate-source.component.js"></script>
<script src="./components/sky.component.js"></script>
<script src="./components/source.component.js"></script>
<script src="./systems/socket.system.js"></script>
<script src="./systems/webrtc.system.js"></script>

<link rel="stylesheet" type="text/css" href="./splash-screen/splash-screen.css">

<div id="splash-screen" v-if="!vrActive">
    <h1>Virtual Office</h1>
    <p>{{ message }}</p>
    <pincode-input v-if="pincodeRequired" v-on:send="onSendPin($event)"></pincode-input>

    <button v-if="readyToEnterVR" v-on:click="startVirtualReality()">Enter<br />Virtual Reality</button>
</div>
<a-scene vr-mode-ui="enabled: true">
    <a-assets>
        <video id="remote" muted autoplay></video>
    </a-assets>
    <a-entity position="0 1.6 0" camera look-controls></a-entity>
    <!-- a-entity id="controls" position="0 1.6 0" laser-controls="hand: right"></a-entity -->

    <a-entity id="sources">
        <!--a-entity>
            <!--a-plane manipulate-source id="screen" position="0 1.6 -1" scale="1 1 1" material="shader: flat" src="#remote">
            </a-plane>
        </a-entity-->
        <!--a-curvedimage id="screen" position="0 1.6 -1" rotation="0 135 0" scale="1 1.6 1" material="shader: flat" color="red" theta-length="90"></a-curvedimage -->
    </a-entity>
    <a-plane id="cursor" cursor-position color="red" position="-.5 0 .001" material="shader: flat; opacity: .5; transparent: true" scale=".01 .016 .01"></a-plane>

    <a-sky sky rotation="0 270 0"></a-sky>
</a-scene>

<script src="./splash-screen/splash-screen.js"></script>

</body>
</html>