<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<body>
<script src="./vendor/aframe.min.js"></script>
<script src="./vendor/aframe-animation.min.js"></script>
<script src="./vendor/vue.js"></script>

<script src="./socket.io/socket.io.js"></script>
<script src="./components/cursor-position.component.js"></script>
<script src="./components/manipulate-source.component.js"></script>
<script src="./components/sky.component.js"></script>
<script src="./components/source.component.js"></script>
<script src="./systems/socket.system.js"></script>
<script src="./systems/webrtc.system.js"></script>

<link rel="stylesheet" type="text/css" href="assets/splash-screen.css">

<div id="splash-screen" v-if="!vrActive">
    <div id="body">
        <img src="./assets/logo.png" />
        <div id="controls">
            <p>{{ message }}</p>
            <pincode-input v-if="pincodeRequired" v-on:send="onSendPin($event)"></pincode-input>

            <button v-if="readyToEnterVR && !vrActive" v-on:click="startVirtualReality()">Enter Office</button>
            <button v-if="readyToEnterVR && vrActive" v-on:click="exitVirtualReality()">Leave Office</button>
            <p v-if="connectionLost">Please refresh your browser to reconnect</p>
        </div>
    </div>
</div>
<a-scene embedded vr-mode-ui="enabled: false" antialias="true">
    <a-assets>
        <img id="cursorImg" src="./assets/cursor.svg" />
        <video id="remote" muted autoplay></video>
    </a-assets>

    <a-entity position="0 0 0" camera look-controls>
        <a-text id="connection-lost" align="center" value="Connection lost\nPlease refresh your browser" position="0 0 -.5" scale=".2 .2 .2"></a-text>
    </a-entity>

    <a-entity id="sources"></a-entity>
    <a-plane id="cursor" src="#cursorImg" cursor-position color="#ff3c4b" position="-.5 0 .001" material="shader: flat; opacity: .5; transparent: true" scale=".02 .03 .01"></a-plane>

    <a-sky sky rotation="0 270 0"></a-sky>
</a-scene>

<script src="./splash-screen/splash-screen.js"></script>

</body>
</html>
