.digits {
    cursor: text;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.digit {
    float: left;
    height: 60px;
    width: 40px;
    border-bottom: solid 1px #262261;

    padding-top: 20px;
    margin-right: 10px;

    color: #262261;
    font-size: 40px;
}

.active {
    animation: active-animation 1.5s infinite linear;
    transform: translate(0, -15px);
}

.lastSelected {
    transform: translate(0, -75px);
}

@keyframes active-animation {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.digit:last-child {
    margin-right: 0;
}

input {
    position: fixed;
    top: -5000px;
    left: -5000px;
}