#image, #hover #overlay {
    background: black no-repeat center center;
    background-size: 100% auto;
    width: 100%;
    margin: 0;
    height: calc(50vh);
}

#image img {
    width: calc(25vw);
    transform: translateY(15px);
}

#hover {
    opacity: 0;
    transition: all .5s;
}

#hover #overlay {
    position: fixed;
    background-color: rgba(38, 34, 97, .85);
    transform: translate(0, calc(-50vh));

    cursor: pointer;
}

#hover:hover {
    opacity: 1;
}

#hover p {
    position: fixed;
    top: calc(23vh);
    width: 200px;
    left: calc(50vw);
    margin-left: -100px;

    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    letter-spacing: 4px;
    padding-bottom: 5px;
}

input {
    display: none;
    visibility: hidden;
}

.revert {
    position: fixed;
    top: 10px;
    right: 10px;

    z-index: 5;
}
