.page {
    font-family: 'Work Sans 200', sans-serif;
    color: #262261;

    overflow: hidden;
}

.page h2 {
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.options {
    background-image: url('../../../../assets/img/background.png');
    background-position: center;
    background-size: cover;

    height: calc(50vh);
    margin: 0;
    padding: 0;
}

.options .form {
    position: relative;
    top: calc(12.5vh);
}

.options .row.title {
    margin-top: 15px;
}

app-pin-form {
    position: relative;
    top: calc(5vh);
}

app-start-streaming {
    position: fixed;
    top: calc(50vh);
    left: calc(50vw);
    width: calc(27vw);
    height: calc(10.6vh);
    transform: translate(calc(-13.5vw), calc(-5.3vh)) !important;
}