.page {
    width: calc(100vw);
    height: calc(100vh);

    font-family: 'Work Sans 200', sans-serif;
    font-size: 16px;
    color: white;
    letter-spacing: 4px;
    text-transform: uppercase;

    overflow: hidden;
}

img {
    width: calc(25vw);
    margin-top: 15px;
}

#data {
    margin-top: 20px;
}

#controls {
    position: absolute;
    bottom: 50px;
    width: 100%;
}

#in-scene {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    padding-bottom: 35px;
    width: 600px;
}

#in-scene .input {
    width: 50%;
    float: left;
}
