<div class="page" *ngIf="status.current !== 'inactive'">
    <img src="./assets/img/logo-red.png" />
    <div id="data" *ngIf="status.current !== 'active'">
        <app-status></app-status>
    </div>
    <div id="error-message" *ngIf="errorMessage">
        <app-error-message [message]="errorMessage"></app-error-message>
    </div>
    <div id="instructions" *ngIf="!errorMessage && status.current !== 'active'">
        <app-connect-instructions [ip]="ip"></app-connect-instructions>
    </div>
    <div id="controls">
        <app-source-controls *ngIf="!errorMessage && status.current === 'active'" [sources]="sources"></app-source-controls>
        <app-stop-streaming></app-stop-streaming>
    </div>
</div>
