.button {
    margin-top: 45px;
}

.prev-button,
.next-button {
    cursor: pointer;
    font-size: 24px;
}

.prev-button {
    margin-left: 90px;
}

.next-button {
    margin-left: -160px;
}

.source {
    pointer-events: none;
}