.row {
    font-size: 12px;
    padding: 0 15px;
}

.row .col {
    text-align: center;
}

img {
    height: 150px;
    margin-bottom: 10px;
    border: solid 1px white;
}

.row strong {
    text-decoration: underline;
}

select {
    background: none;
    border: solid 1px white;
    border-radius: 0;
    color: white;
    padding: 10px;
}

.headset {
    cursor: pointer;
    text-align: center;
}

.headset.selected {
    text-decoration: underline;
}