.btn {
    background-color: white;
    border-radius: 0;
    color: #262261;

    font-size: 12px;
    letter-spacing: 5px;
    text-transform: uppercase;
    width: calc(27vw);
    height: calc(5vh);

    transition: background-color 1s;
}

.btn:hover {
    background-color: #E5E5E5;
}

.btn:focus,
.btn:active {
    outline: none !important;
    box-shadow: none;
}

.source {
    text-overflow: ellipsis;
}
