/* work-sans-200 - latin */
@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 200;
    src: url('fonts/work-sans-v3-latin-100.eot'); /* IE9 Compat Modes */
    src: local('Work Sans ExtraLight'), local('WorkSans-ExtraLight'),
    url('fonts/work-sans-v3-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('fonts/work-sans-v3-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/work-sans-v3-latin-100.woff') format('woff'), /* Modern Browsers */
    url('fonts/work-sans-v3-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
    url('fonts/work-sans-v3-latin-100.svg#WorkSans') format('svg'); /* Legacy iOS */
}

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    background-color: #262261;
}

#splash-screen, table {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    color: white;

    text-align: center;
    text-transform: uppercase;
}

#splash-screen #body {
    width: calc(100vw);
    margin: auto;
}

@media only screen and (orientation: landscape) {
    #splash-screen #body {
        width: calc(100vh);
    }
}

#splash-screen img {
    width: 80%;
}

#splash-screen p {
    font-size: 16px;
    letter-spacing: 4px;
}

#splash-screen button {
    background-color: white;
    border: solid 1px black;
    color: #262261;
    font-size: 16px;
    margin-top: 20px;
    padding: 20px;
    width: 80%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

#pincode #input {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

#pincode #input div {
    float: left;
    margin-right: 10px;

    width: 20px;
    height: 20px;
    border-bottom: solid 1px lightgreen;
}

#pincode #input div:last-child {
    margin-right: 0;
}

#pincode #buttons {
    clear: left;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}

table td {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}
