button {
  background-color: #262261;
  border-radius: 0;
  color: #ff3c4b;

  font-family: 'Work Sans 200', sans-serif;
  font-size: .8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  outline:none;
}

button:focus {
  outline: none;
}